WebMVC_eSport/Connected Services/ProxyHeroe/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_eSports" />
  <xs:element name="HeroeComplejidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="complejidad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeroeComplejidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_eSports" minOccurs="0" name="HeroeComplejidadResult" nillable="true" type="q1:ArrayOfHeroeBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHerores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHeroresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_eSports" minOccurs="0" name="ListarHeroresResult" nillable="true" type="q2:ArrayOfHeroeBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeroeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_eSports" minOccurs="0" name="objHeroe" nillable="true" type="q3:HeroeBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeroeUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HeroeUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeroeDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeroeDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HeroeDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>