WebMVC_eSport/Connected Services/ProxyHeroe/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioHeroe" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_eSports" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioHeroe_HeroeComplejidad_InputMessage">
    <wsdl:part name="parameters" element="tns:HeroeComplejidad" />
  </wsdl:message>
  <wsdl:message name="IServicioHeroe_HeroeComplejidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:HeroeComplejidadResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioHeroe_ListarHerores_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarHerores" />
  </wsdl:message>
  <wsdl:message name="IServicioHeroe_ListarHerores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarHeroresResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioHeroe_HeroeUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:HeroeUpdate" />
  </wsdl:message>
  <wsdl:message name="IServicioHeroe_HeroeUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:HeroeUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioHeroe_HeroeDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:HeroeDelete" />
  </wsdl:message>
  <wsdl:message name="IServicioHeroe_HeroeDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:HeroeDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioHeroe">
    <wsdl:operation name="HeroeComplejidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioHeroe/HeroeComplejidad" message="tns:IServicioHeroe_HeroeComplejidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioHeroe/HeroeComplejidadResponse" message="tns:IServicioHeroe_HeroeComplejidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarHerores">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioHeroe/ListarHerores" message="tns:IServicioHeroe_ListarHerores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioHeroe/ListarHeroresResponse" message="tns:IServicioHeroe_ListarHerores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HeroeUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioHeroe/HeroeUpdate" message="tns:IServicioHeroe_HeroeUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioHeroe/HeroeUpdateResponse" message="tns:IServicioHeroe_HeroeUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HeroeDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioHeroe/HeroeDelete" message="tns:IServicioHeroe_HeroeDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioHeroe/HeroeDeleteResponse" message="tns:IServicioHeroe_HeroeDelete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioHeroe" type="tns:IServicioHeroe">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HeroeComplejidad">
      <soap:operation soapAction="http://tempuri.org/IServicioHeroe/HeroeComplejidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarHerores">
      <soap:operation soapAction="http://tempuri.org/IServicioHeroe/ListarHerores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HeroeUpdate">
      <soap:operation soapAction="http://tempuri.org/IServicioHeroe/HeroeUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HeroeDelete">
      <soap:operation soapAction="http://tempuri.org/IServicioHeroe/HeroeDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioHeroe">
    <wsdl:port name="BasicHttpBinding_IServicioHeroe" binding="tns:BasicHttpBinding_IServicioHeroe">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_eSports/ServicioHeroe/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>