WebWCF_eSports/Connected Services/ProxyJugador/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_eSports" />
  <xs:element name="RankingJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="top" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RankingJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_eSports" minOccurs="0" name="RankingJugadorResult" nillable="true" type="q1:ArrayOfJugadorEstadistica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPaisJugadores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pais" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPaisJugadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_eSports" minOccurs="0" name="ListarPaisJugadoresResult" nillable="true" type="q2:ArrayOfJugadorBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>