WebWCF_eSports/Connected Services/ProxyJugador/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioJugador" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_eSports" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioJugador_RankingJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:RankingJugador" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_RankingJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:RankingJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_ListarPaisJugadores_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPaisJugadores" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_ListarPaisJugadores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPaisJugadoresResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioJugador">
    <wsdl:operation name="RankingJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJugador/RankingJugador" message="tns:IServicioJugador_RankingJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioJugador/RankingJugadorResponse" message="tns:IServicioJugador_RankingJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPaisJugadores">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJugador/ListarPaisJugadores" message="tns:IServicioJugador_ListarPaisJugadores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioJugador/ListarPaisJugadoresResponse" message="tns:IServicioJugador_ListarPaisJugadores_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioJugador" type="tns:IServicioJugador">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RankingJugador">
      <soap:operation soapAction="http://tempuri.org/IServicioJugador/RankingJugador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPaisJugadores">
      <soap:operation soapAction="http://tempuri.org/IServicioJugador/ListarPaisJugadores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioJugador">
    <wsdl:port name="BasicHttpBinding_IServicioJugador" binding="tns:BasicHttpBinding_IServicioJugador">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_eSports/ServicioJugador/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>