WebWCF_eSports/Connected Services/ProxyJugador/WCF_eSports.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_eSports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_eSports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJugadorEstadistica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JugadorEstadistica" nillable="true" type="tns:JugadorEstadistica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJugadorEstadistica" nillable="true" type="tns:ArrayOfJugadorEstadistica" />
  <xs:complexType name="JugadorEstadistica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomHeroe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Round" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAssists" type="xs:float" />
      <xs:element minOccurs="0" name="TotalDeaths" type="xs:float" />
      <xs:element minOccurs="0" name="TotalKills" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JugadorEstadistica" nillable="true" type="tns:JugadorEstadistica" />
  <xs:complexType name="ArrayOfJugadorBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JugadorBE" nillable="true" type="tns:JugadorBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJugadorBE" nillable="true" type="tns:ArrayOfJugadorBE" />
  <xs:complexType name="JugadorBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Equipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JugadorBE" nillable="true" type="tns:JugadorBE" />
</xs:schema>