WebWCF_eSports/Connected Services/ProxyHeroe/WCF_eSports.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_eSports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_eSports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHeroeBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HeroeBE" nillable="true" type="tns:HeroeBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHeroeBE" nillable="true" type="tns:ArrayOfHeroeBE" />
  <xs:complexType name="HeroeBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atributo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Complejidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeroeBE" nillable="true" type="tns:HeroeBE" />
</xs:schema>