WebWCF_eSports/Connected Services/ProxyTorneo/WCF_eSports.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_eSports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_eSports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTorneoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TorneoBE" nillable="true" type="tns:TorneoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTorneoBE" nillable="true" type="tns:ArrayOfTorneoBE" />
  <xs:complexType name="TorneoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Lugar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Org" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TorneoBE" nillable="true" type="tns:TorneoBE" />
</xs:schema>